 body{
    padding: 0;
    margin:0;
    box-sizing: border-box; 
    font-size: 62.5%; 
}

h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
    padding: 150px
}

.header {
    background-image: url(images/anastasia-petrova-xu2WYJek5AI-unsplash.jpg);
    background-size: cover;
    height: 400px;

}

body{
    background-color: #d0f2b8;
}

.card{
    height: 50vh;
    width: 20vw; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1rem 1rem 1rem; 
    border-radius: 20px; 
    box-shadow: 10px 10px #4f4f4f;  
    transition: all 0.3s;  
}


.card-img{
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px;
    height:70%;
    width: 100%; 
    overflow: hidden; 

}

.flex-container{
    flex-wrap: wrap;
    display:flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.card-title{
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

#card1:hover {
    transform: translateY(20px)
}
#card4:hover{
    transform: matrix(0, 1, 1, 0, 0, 0);
}
#card5:hover{
    transform: rotate(350deg);
}
#card8:hover{
    transform: scale(1.2)
}
#card7:hover{
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    .card-img{
        border-top-right-radius: 50px;
        border-top-left-radius:  50px;
    }
}
